@charset "UTF-8";
/*   CETTE PARTIE EST INTERDITE DE MODIFICATION ET N'EST PAS AFFICHEE SUR VOTRE SITE
© Copyright  Créateur Initial du projet: Eolange Fabien [http://www.reveland.fr] 
Liste des contributeurs disponible sur la page "contributions.php"
Adresse du créateur initial et des sources: http://www.reveland.fr
Email: webmaster@reveland.fr
Ce logiciel est un programme informatique servant à gérer les membres d'une association de service d'échange local. Nommé S.E.L.
Ce logiciel est régi par la licence CeCILL-B soumise au droit français et respectant les principes de diffusion des logiciels libres.
Vous pouvez utiliser, modifier ou redistribuer ce programme sous les conditions de la licence CeCILL-B telle que diffusée par le CEA,le CNRS et l'INRIA sur le site "http://www.cecill.info".
En contrepartie de l'accessibilité au code source et des droits de copie, de modification et de redistribution accordés par cette licence, il n'est offert aux utilisateurs qu'une garantie limitée.
Pour les mêmes raisons, seule une responsabilité restreinte pèse sur l'auteur du programme, le titulaire des droits patrimoniaux et les concédant successifs.
A cet égard  l'attention de l'utilisateur est attirée sur les risques associés au chargement,  à l'utilisation,  à la modification et à la reproduction du logiciel par l'utilisateur étant donné sa spécificité de logiciel libre, qui peut le rendre complexe à manipuler et qui le réserve donc à des développeurs et des professionnels avertis possédant  des  connaissances  informatiques approfondies.
Les utilisateurs sont donc invités à charger  et  tester  l'adéquation  du logiciel à leurs besoins dans des conditions permettant d'assurer la sécurité de leurs systèmes et ou de leurs données et, plus généralement, à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 
Le fait que vous puissiez accéder à cet en-tête signifie que vous avez pris connaissance de la licence CeCILL-B, et que vous en avez accepté les termes. 
© Copyright by [Eolange-F.P.] www.reveland.fr  */


body
{
	/*Fond image*/
	background-color:#cdffce;
}

div.global
{
	/*Fond image*/
	background-color:#ffffff;
	/*Dimention*/
	min-width:810px;
	min-height:900px;
	/*Centrage (marge exterieur)*/
	margin-left:20px;
	margin-right:20px;
	/*  arrondi  */
	border-radius: 30px;
	/*Bordure semi-transparente*/
	border:2px solid rgba(155,155,155,0.5);
	/*marge interne*/
	padding:10px 10px 10px 10px;
}

div.debut
{
	
	/*Centrage (marge exterieur)*/
	margin: auto;
	/*centrage image*/
	text-align: center;
	/*largeur*/
	width: 300px;
	/*hauteur*/
	min-height: 150px;
	/*Marge interieur*/
	padding: 10px 10px 10px 10px;
}
div.menu
{
	/*hauteur*/
	height:50px;
	/*largeur*/
	width: 800px;
	/*centrage*/
	margin : auto;
}
div.centrage
{
	margin : auto;
	display : table;
}
div.smenu
{
	/*centrage*/
	margin: auto;
	/*centrage texte*/
	text-align: center;
	/*largeur*/
	width: auto;
	/*hauteur*/
	height:20px;
	/*Fond couleur*/
	background-color: #cdffce;
	/*  arrondi  */
	border-radius: 10px 10px 0 0;
	/*Bordure */
	border:2px solid #008101;
	/*espacement interne H D B G (sinon le texte colle les bordures)*/
	padding: 0px 3px 0px 3px;
	/*Alignement des boites*/
	float:left;
	/*alignement du texte  verticalement*/
	vertical-align: middle;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000;
}
div.smenuActif
{
	/*centrage*/
	margin: auto;
	/*centrage texte*/
	text-align: center;
	/*largeur*/
	width: auto;
	/*hauteur*/
	height:20px;
	/*Fond couleur*/
	background-color: #008101;
	/*  arrondi  */
	border-radius: 10px 10px 0 0;
	/*Bordure */
	border:2px solid #000000;
	/*espacement interne H D B G*/
	padding: 0px 3px 0px 3px;
	/*Alignement des boites*/
	float:left;
	/*alignement du texte  verticalement*/
	vertical-align: middle;
	/*ombre*/
	box-shadow: 3px 3px 7px #000000 inset;
}
div.corps
{
	/*largeur*/
	width: 55%;
	/*hauteur*/
	height:auto;
	/*Centrage (marge exterieur)*/
	margin: auto;
	/*centrage image*/
	text-align: center;
	/*  arrondi  */
	border-radius: 10px;
	/*Bordure */
	border:2px solid #008101;
	/*ombre*/
	 box-shadow:2px 2px 10px #008101,
            2px 2px 5px #008101 inset;
}
div.loge
{
	/*largeur*/
	min-width:180px;
	/*hauteur*/
	height:auto;
	/*Alignement a gauche*/
	float:left;
	margin-left: 5px;
}
div.colonnegauche
{
	/*largeur*/
	width: 17%;
	/*hauteur*/
	height:auto;
	/*Alignement a gauche*/
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}
div.colonnegauche2
{
	/*largeur*/
	width: 100%;
	/*hauteur*/
	height:auto;
	/*  arrondi  */
	border-radius: 10px 10px 0 0;
	/*Bordure */
	border:2px solid #008101;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000;
	/*décollement*/
	margin-bottom:15px;
	padding:5px;
}
div.colonnedroite
{
	/*largeur*/
	width: 17%;
	/*hauteur*/
	height:auto;
	/*Alignement a gauche*/
	float:right;
	margin-right: 10px;
	margin-left: 10px;
}
div.colonnedroite2
{
	/*largeur*/
	width: 100%;
	/*hauteur*/
	height:auto;
	/*Alignement a gauche*/
	float:right;
	margin-right: 5px;
	/*  arrondi  */ 
	border-radius: 10px 10px 0 0;
	/*Bordure */
	border:2px solid #008101;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000;
	 /*décollement*/
	margin-bottom:15px;
	padding:5px;
}

div.pied
{
	/*Fond couleur*/
	background-color: #cdffce;
	/*  arrondi  */ 
	border-radius: 30px;
	/*Bordure */
	border:2px solid rgba(155,155,155,0.7);
	/*largeur*/
	max-width: 550px;
	/*hauteur*/
	height:auto;
	/*centrage*/
	margin : auto;
	text-align:center;
	/*espacement*/
	margin-top:20px;
	/*alignement du texte  verticalement*/
	vertical-align: middle;
}


p
{	
	font-family: "Comic Sans MS","Times New Roman",serif;
 	color:#000000 ;
	font-size:80%;
	margin:3px;
}
.smenuActif p
{	/*couleur du texte des menus actifs*/
 	color:#ffffff;
}	
	
.titre
{	
	font-family: "Comic Sans MS","Times New Roman",serif;
 	color:#000000 ;
	font-size:150%;
	font-weight:bold;
}
.noir
{	
	color:#000000 ;
}


/* mise en forme liens */
/*mise en forme des liens classique (sauf ceux du menu)*/
a:link
{	
	color:#008101;
	text-decoration: none ;
}
a:hover
{ /*effet sur les lien classique quand la souris passe dessus*/
	color:#008101;
	/*ombre*/
	 box-shadow: -2px -2px 5px #000000 inset,
				0px 0px 5px #000000;
	/*  arrondi  */ 
	border-radius: 5px;
}
a:visited
{
	color:#008101;
} 
.smenu:hover
{ /*effet quand le souris passe sur les bouton du menu*/
	background-color: #008101;
	color:#ffffff;	
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000 inset,
				0px 0px 8px #000000;
} 


/*pour forumlaire*/
label 
{
 /*permet de passer à la ligne quand y'a un label*/
	display:block;
	font-size:80%;
  
}
 label.inline 
 {
	display:inline;
}
 fieldset 
 {/*personnalise la bordure du formulaire*/
	max-width:170px;
	border:2px solid #008101;
	/*  arrondi  */
	border-radius: 10px;
}
 
 input, textarea, select, option 
 {
 /*change le fond des formulaire (zone texte)*/
	background-color:#cdffce;
  
}
 
 input, textarea, select 
 {/*change tout les champs à remplir des formulaires*/
	border:2px solid #008101;
	border-radius:5px;
	width:130px;
}
 
 input[type=radio]
 {/*change les cases a cocher*/
	background-color:transparent;
	border:none;
	width:8px;
}
input[type=submit], input[type=reset] 
{/*change les bouton de validation*/
	cursor:pointer;
	box-shadow: -2px -2px 8px #000000;
	width:70px
}
 
 input:focus, textarea:focus 
 { /*change la couleur du fond quand je suis sur le champs de formulaire*/
	background-color:white;
	box-shadow: 0px 0px 10px #cdffce ;
 }
 
input[type=submit]:hover, input[type=reset]:hover 
{/*change les boutons quand je suis dessus*/
	background-color:#008101;
 }
 
input[type=submit]:active, input[type=reset]:active 
{/*change les boutons quand je suis dessus*/
	background-color:#FFFFFF; 
	box-shadow:	2px 2px 10px #008101,
				1px 1px 3px #008101 inset;

}
/*Coloration des tableaux */
table
{
	width:90%;
	margin:auto;
	margin-top:15px;
	margin-bottom:15px;
	/*  arrondi  */
	border-radius: 5px;
	/*Bordure */
	border:2px solid #008101;
	/*ombre*/
	box-shadow: -2px -2px 8px #000000;
}
th
{
	text-align: center;
	background-color:#008101;
	font-size:140%;
	font-weight:bold;
}
.t1
{
	text-align: center;
	background-color:#cdffce;
	font-size:120%;	
	font-weight:bold;
}
.t2
{
	text-align: left;
	font-size:100%;
	background-color:#cdffce;
}
.t3
{
	text-align: left;
	font-size:100%;	
}

.t4
{
	text-align: center;
	font-size:100%;	
}









