@charset "UTF-8";
/*   CETTE PARTIE EST INTERDITE DE MODIFICATION ET N'EST PAS AFFICHEE SUR VOTRE SITE
© Copyright  Créateur Initial du projet: Eolange Fabien [http://www.reveland.fr] 
Liste des contributeurs disponible sur la page "contributions.php"
Adresse du créateur initial et des sources: http://www.reveland.fr
Email: webmaster@reveland.fr
Ce logiciel est un programme informatique servant à gérer les membres d'une association de service d'échange local. Nommé S.E.L.
Ce logiciel est régi par la licence CeCILL-B soumise au droit français et respectant les principes de diffusion des logiciels libres.
Vous pouvez utiliser, modifier ou redistribuer ce programme sous les conditions de la licence CeCILL-B telle que diffusée par le CEA,le CNRS et l'INRIA sur le site "http://www.cecill.info".
En contrepartie de l'accessibilité au code source et des droits de copie, de modification et de redistribution accordés par cette licence, il n'est offert aux utilisateurs qu'une garantie limitée.
Pour les mêmes raisons, seule une responsabilité restreinte pèse sur l'auteur du programme, le titulaire des droits patrimoniaux et les concédant successifs.
A cet égard  l'attention de l'utilisateur est attirée sur les risques associés au chargement,  à l'utilisation,  à la modification et à la reproduction du logiciel par l'utilisateur étant donné sa spécificité de logiciel libre, qui peut le rendre complexe à manipuler et qui le réserve donc à des développeurs et des professionnels avertis possédant  des  connaissances  informatiques approfondies.
Les utilisateurs sont donc invités à charger  et  tester  l'adéquation  du logiciel à leurs besoins dans des conditions permettant d'assurer la sécurité de leurs systèmes et ou de leurs données et, plus généralement, à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 
Le fait que vous puissiez accéder à cet en-tête signifie que vous avez pris connaissance de la licence CeCILL-B, et que vous en avez accepté les termes. 
© Copyright by [Eolange-F.P.] www.reveland.fr  */

/* #d0f9ff  #c0e9fd  #61aade  #002980  */

body
{
	/*Fond */
	background-color:#61aade;
}

div.global
{
	/*Fond */
	background-color:#ffffff;
	/*Dimention*/
	min-width:810px;
	min-height:1600px;
	/*Centrage (marge exterieur)*/
	margin-left:20px;
	margin-right:20px;
	/*  arrondi  */
	border-radius: 30px;
	/*Bordure semi-transparente*/
	border:3px solid rgba(100,100,100,0.5);
	/*marge interne*/
	padding:10px 10px 10px 10px;
}

/* gestion partie debut */
div.debut
{
	/*Centrage (marge exterieur)*/
	margin: auto;
	/*centrage image*/
	text-align: center;
	/*largeur*/
	width: 95%;
	/*hauteur*/
	height: 200px;
	/*Marge interieur*/
	padding: 5px;
}
div.loge
{
	/*largeur*/
	width:190px;
	/*hauteur*/
	height:180px;
	/*Alignement a gauche*/
	margin-left: 5px;
	/*Marge interieur*/
	padding: 5px;
	/* block cote a cote*/
	vertical-align:middle;
	display:inline-block;
	font-size:90%;
}
div.cadremilieu
{
	/*Centrage (marge exterieur)*/
	margin: auto;
	/*centrage image*/
	text-align: center;
	/*largeur*/
	width: auto;
	/*hauteur*/
	height: auto;
	/*Marge interieur*/
	padding: 10px;
	/* block cote a cote*/
	vertical-align:middle;
	display:inline-block;
}
div.cadredroite
{
	/*largeur*/
	width: auto;
	/*hauteur*/
	height:auto;
	/*centrage image ou texte*/
	text-align: center;
	/*Marge interieur*/
	padding: 5px;
	/*block cote a cote*/
	vertical-align:middle;
	display:inline-block;
}
div.corps
{	
	/*largeur*/
	width: 90%;
	/*hauteur*/
	height:auto;
	/*Centrage (marge exterieur)*/
	margin: auto;
	/*centrage image*/
	text-align: center;
	/*  arrondi  */
	border-radius: 10px;
	/*Bordure */
	border:2px solid #61aade;
	/*ombre*/
	 box-shadow:2px 2px 10px #61aade,
            2px 2px 5px #61aade inset;
}
/*corps avec 3 colonnes (bureau)*/
div.corps2
{	
	/*largeur*/
	width: 55%;
	/*hauteur*/
	height:auto;
	/*Centrage (marge exterieur)*/
	margin: auto;
	/*centrage image*/
	text-align: center;
	/*  arrondi  */
	border-radius: 10px;
	/*Bordure */
	border:2px solid #61aade;
	/*ombre*/
	 box-shadow:2px 2px 10px #61aade,
            2px 2px 5px #61aade inset;
}
div.colonnegauche
{
	/*largeur*/
	width: 17%;
	/*hauteur*/
	height:auto;
	/*Alignement a gauche*/
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}
div.colonnegauche2
{
	/*largeur*/
	width: 100%;
	/*hauteur*/
	height:auto;
	/*  arrondi  */
	border-radius: 10px 10px 0 0;
	/*Bordure */
	border:2px solid #61aade;
	/*ombre*/
	 box-shadow: -2px -2px 8px #61aade;
	/*décollement*/
	margin-bottom:15px;
	padding:5px;
}
div.colonnedroite
{
	/*largeur*/
	width: 17%;
	/*hauteur*/
	height:auto;
	/*Alignement a gauche*/
	float:right;
	margin-right: 10px;
	margin-left: 10px;
}
div.colonnedroite2
{
	/*largeur*/
	width: 100%;
	/*hauteur*/
	height:auto;
	/*Alignement a gauche*/
	float:right;
	margin-right: 5px;
	/*  arrondi  */ 
	border-radius: 10px 10px 0 0;
	/*Bordure */
	border:2px solid #61aade;
	/*ombre*/
	 box-shadow: -2px -2px 8px #61aade;
	 /*décollement*/
	margin-bottom:15px;
	padding:5px;
}
div.pied
{
	/*Fond couleur*/
	background-color: #c0e9fd;
	/*  arrondi  */ 
	border-radius: 30px;
	/*Bordure */
	border:2px solid rgba(155,155,155,0.7);
	/*largeur*/
	max-width: 600px;
	/*hauteur*/
	height:auto;
	/*centrage*/
	margin : auto;
	text-align:center;
	/*espacement*/
	margin-top:300px;
	/*alignement du texte  verticalement*/
	vertical-align: middle;
}
div.message
{
	width: 90%;
	/*  arrondi  */
	border-radius: 10px;
	/*Bordure */
	border:2px solid #61aade;
	/*ombre*/
	box-shadow: -2px -2px 8px #61aade;
	/*centrage*/
	margin : auto;
	text-align:center;
	/*espacement*/
	padding:5px;
	/*Fond blanc*/
	background-color: #ffffff;
}
p
{	
	font-family: "Comic Sans MS","Times New Roman",serif;
 	color:#000000 ;
	font-size:90%;
	margin:3px;
	
}	
.titre
{	
	font-size:110%;
	text-shadow: -2px 2px 2px #999;
	text-align: center;	
}
.pasimportant
{
	font-size:70%;
}
.noir
{	
	color:#000000;
}
.rouge
{	
	color:#FF0000 ;
}
.vert
{	
	color:#00ab00;
}
.jaune
{	
	color:#fffa00;
	text-shadow: 
	-1px 0 #666666,
	0 1px #666666,
	1px 0 #666666,
	0 -1px #666666;
}
.bleu
{	
	color:#0000FF;
}
.gris
{	
	color:#999999;
}
/* Gère le hr statistique*/
.hrstat
{
	margin: 0;
	padding:0;
	background-color: #F00; /* rouge vif*/
}
/* mise en forme liens */
/*mise en forme des liens classique (sauf ceux du menu)*/
a:link
{	
	color:#002980;
	text-decoration: none ;
	border-radius: 5px;
}
div.corps a:link 
{	
	color:#002980;
	text-decoration: none ;
	border-radius: 5px;
	border: 2px solid #61aade;
	margin: 2px;
	padding-left:2px;
	padding-right:2px;
	box-shadow: -2px -2px 4px #61aade;
	clear:both;
}
/* Design des liens des photos  */
div.corps  a.aphoto:link, div.corps  a.aphoto:visited, a.aphoto:link, a.aphoto:visited
{	
	text-decoration: none ;
	border: none;
	box-shadow: none;
}
a img
{
	border: none;
}
/* Design des liens des modos  */
div.corps  a.amodo:link, div.corps  a.amodo:visited
{	
	color:#000000;
	text-decoration: none ;
	border-radius: 5px;
	border: 2px solid #006bd6;
	margin: 2px;
	padding-left:2px;
	padding-right:2px;
	box-shadow: -2px -2px 4px #006bd6;
	clear:both;
	background-color: #73b8ff;
}
div.corps  a.amodo:hover
{	
	box-shadow: 0px 0px 7px #000000 inset,
				-1px 0px 5px #000000;
	background-color: #006bd6;
}
/* Design des liens des admins  */
div.corps  a.aadmin:link, div.corps  a.aadmin:visited
{	
	color:#000000;
	text-decoration: none ;
	border-radius: 5px;
	border: 2px solid #e60000;
	margin: 2px;
	padding-left:2px;
	padding-right:2px;
	box-shadow: -2px -2px 4px #e60000;
	clear:both;
	background-color: #ff7f7f;
}
div.corps  a.aadmin:hover
{	
	box-shadow: 0px 0px 7px #000000 inset,
				-1px 0px 5px #000000;
	background-color: #e60000;
}
a:hover
{ /*effet sur les lien classique quand la souris passe dessus*/
	color:#002980;
	/*ombre*/
	box-shadow: 0px 0px 7px #61aade inset,
				-1px 0px 5px #61aade;
	/*  arrondi  */ 
	border-radius: 5px;
}
div.corps a:hover
{ /*effet sur les lien classique quand la souris passe dessus*/
	color:#002980;
	/*ombre*/
	box-shadow: 0px 0px 7px #61aade inset,
				-1px 0px 5px #61aade;
	/*  arrondi  */ 
	border-radius: 5px;
}
a:visited
{
	color:#002980;
	border: 2px solid #61aade;
} 
/*Fin de mise en forme liens*/

/*Mise en forme formulaire*/
label 
{
 /*permet de passer à la ligne quand y'a un label*/
	display:block;
	font-size:80%;
  
}
 label.inline 
 {
	display:inline;
}
 fieldset 
 {/*personnalise la bordure du formulaire*/
	border:2px solid #61aade;
	/*  arrondi  */
	border-radius: 10px;
}
 
 input, textarea, select, option 
 {
 /*change le fond des formulaire (zone texte)*/
	background-color:#c0e9fd;
  
}
 
 input, textarea, select 
 {/*change tout les champs à remplir des formulaires*/
	border:2px solid #61aade;
	border-radius:5px;
	
}
 
 input[type=radio]
 {/*change les cases a cocher*/
	background-color:transparent;
	border:none;
	width:15px;
}
input[type=submit], input[type=reset] 
{/*change les bouton de validation*/
	cursor:pointer;
	box-shadow: -2px -2px 8px #61aade;
	
}
 
 input:focus, textarea:focus 
 { /*change la couleur du fond quand je suis sur le champs de formulaire*/
	background-color:white;
	box-shadow: 0px 0px 10px #61aade ;
 }
 
input[type=submit]:hover, input[type=reset]:hover 
{/*change les boutons quand je suis dessus*/
	background-color:#d0f9ff;
 }
 
input[type=submit]:active, input[type=reset]:active 
{/*change les boutons quand je suis dessus*/
	background-color:#FFFFFF; 
	box-shadow:	2px 2px 10px #002980,
				1px 1px 3px #002980 inset;

}
/*fin de mise en forme formulaire*/

/*Creation tableau pour liste ami et contact*/
.tableau span
{
	display:inline;
	float: left;
	padding:0px;
	margin:0;
}
.tableau p
{
	clear: left;
	margin:0;
	height:100%;	
}
.tableau span.col1
{
	width: 25px;
	font-size:80%;
}
.tableau span.col2
{
	width:90px;
	padding: 1px;
	font-size:80%;
}
.tableau span.col3 
{
	width:55px;
	font-size:80%;
}

/*coloration des tableaux */
table
{	
	/*  arrondi  */
	border-radius: 10px;
	/*centrage*/
	margin : auto;
	text-align:center;
	/*espacement*/
	padding:2px;
}
table.tablevu
{
	
	/*  arrondi  */
	border-radius: 10px;
	/*Bordure */
	border:2px solid #61aade; 
	/*ombre*/
	box-shadow: -2px -2px 8px #61aade;
	/*centrage*/
	margin : auto;
	text-align:center;
	/*espacement*/
	padding:2px;
}
th
{
	text-align: center;
	font-size:110%;
	font-weight:bold;
}
.t1
{
	text-align: center;
	font-weight:bold;
	font-size:100%;
}
.t2
{
	text-align: left;
}
.t3
{
	text-align: right;
}
.t4
{
	text-align: center;
}
.teinte1
{
	background-color:#61aade; 
}
.teinte2
{
	background-color:#c0e9fd;
}
/*voir liste seliste admin*/
.teinte3  
{
	background-color:#d0f9ff;
}
/*fin de mise en forme des tableaux*/

/*gestion du menu deroulant*/
#menuDeroulant
{
 	/*hauteur*/
	height:20px;
	/*largeur minimum= 110*6menus= 660*/
	width: 660px; 
	list-style-type: none;
	margin: auto;
	padding: 0;
	/*centrage image*/
	text-align: center;
	
}
#menuDeroulant li
{
	float: left;
	margin: auto;
	padding: 0;
	border: 0; 
	width:110px;
}
#menuDeroulant .sousMenu
{
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
 	/*centrage image*/
	text-align: center;
}
#menuDeroulant .sousMenu li
{
	float: none;
	margin: 0;
	padding: 0;
	border: 0;
	width: 110px;
}
#menuDeroulant li a:link, #menuDeroulant li a:visited
{
	/*mise en place des menu a derouler*/
	display: block;
	margin: 0;
	padding: 2px;
	text-decoration: none;
	/*mise en gras*/
	font-weight:bold;
	/*police*/
	font-family: "Comic Sans MS","Times New Roman",serif;
	/*hauteur*/
	height:20px;
	/*Fond couleur*/
	background-color: #c0e9fd;
	/*  arrondi  */
	border-radius: 10px 10px 0 0;
	/*Bordure */
	border:2px solid #002980;
	/*taille police*/
	font-size:80%;
	color:#000000 ;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000;	
}
#menuDeroulant li a:hover 
{
	background-color: #61aade;
	color:#000000;	
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000 inset,
				0px 0px 8px #000000;
}
#menuDeroulant li a:active 
{
	background-color: #61aade; 
}
#menuDeroulant li:hover > .sousMenu { display: block; }	

#menuDeroulant .sousMenu li a:link,
#menuDeroulant .sousMenu li a:visited
{
	display: block;
	height:auto;
	margin: 0;
	padding: 5px;
	text-decoration: none;
	font-weight:normal;
	/*Fond couleur*/
	background-color: #c0e9fd;
	/*Police*/
	font-family: "Comic Sans MS","Times New Roman",serif;
	/*  arrondi  */
	border-radius: 0 0 5px 5px;
	/*Bordure */
	border:2px solid #002980;
	/*taille police*/
	font-size:80%;
	color:#000000 ;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000;	
}
#menuDeroulant .sousMenu li a:hover
{
	color:#000000;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000 inset,
				0px 0px 8px #000000;
	/*  arrondi  */ 
	border-radius: 5px;
	background-color: #61aade;
}
/*pour dire "tu met ca au dessus" */	
#menuDeroulant li ul 
{
 position:absolute;
}		
/* modif quand il est actif (avec li = sousmenu)*/
#menuDeroulant li .menuactif a:visited,
#menuDeroulant li .menuactif a:link,
#menuDeroulant .menuactif a:link,
#menuDeroulant .menuactif a:link
{
	color:#ffffff;
	background-color: #61aade;
	/*Bordure */
	border:1px solid #000000;
	/*ombre*/
	box-shadow: 3px 3px 7px #000000 inset,
				0px 0px 8px #000000;
}
/*fin du menu deroulant*/

/*gestion du menu deroulant Modo*/
#menuDeroulantModo
{
 	/*hauteur*/
	height:20px;
	/*largeur*/
	width: 600px; 
	list-style-type: none;
	margin: auto;
	padding: 0;
	/*centrage image*/
	text-align: center;
	
}
#menuDeroulantModo li
{
	float: left;
	margin: auto;
	padding: 0;
	border: 0; 
	width:120px;
}
#menuDeroulantModo .sousMenuModo
{
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
 	/*centrage image*/
	text-align: center;
}
#menuDeroulantModo .sousMenuModo li
{
	float: none;
	margin: 0;
	padding: 0;
	border: 0;
	width: 120px;
}
#menuDeroulantModo li a:link, #menuDeroulantModo li a:visited
{
	/*mise en place des menu a derouler*/
	display: block;
	margin: 0;
	padding: 2px;
	text-decoration: none;
	/*mise en gras*/
	font-weight:bold;
	/*Police*/
	font-family: "Comic Sans MS","Times New Roman",serif;
	/*hauteur*/
	height:20px;
	/*Fond couleur bleu claire*/
	background-color: #73b8ff;
	/*  arrondi  */
	border-radius: 10px 10px 0 0;
	/*Bordure */
	border:2px solid #006bd6;
	/*taille police*/
	font-size:80%;
	color:#000000 ;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000;	
}
#menuDeroulantModo li a:hover 
{
	background-color: #006bd6;
	color:#000000;	
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000 inset,
				0px 0px 8px #000000;
}
#menuDeroulantModo li a:active 
{
	background-color: #73b8ff; 
}
#menuDeroulantModo li:hover > .sousMenuModo { display: block; }	

#menuDeroulantModo .sousMenuModo li a:link,
#menuDeroulantModo .sousMenuModo li a:visited
{
	display: block;
	height:auto;
	margin: 0;
	padding: 5px;
	text-decoration: none;
	font-weight:normal;
	/*Police*/
	font-family: "Comic Sans MS","Times New Roman",serif;
	/*Fond couleur*/
	background-color: #73b8ff;
	/*  arrondi  */
	border-radius: 0 0 5px 5px;
	/*Bordure */
	border:2px solid #006bd6;
	/*taille police*/
	font-size:80%;
	color:#000000 ;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000;	
}
#menuDeroulantModo .sousMenuModo li a:hover
{
	color:#000000;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000 inset,
				0px 0px 8px #000000;
	/*  arrondi  */ 
	border-radius: 5px;
	background-color: #006bd6;
}
/*pour dire "tu met ca au dessus" */	
#menuDeroulantModo li ul 
{
 position:absolute;
}		
/* modif quand il est actif (avec li = sousmenu)*/
#menuDeroulantModo li .menuactifModo a:visited,
#menuDeroulantModo li .menuactifModo a:link,
#menuDeroulantModo .menuactifModo a:link,
#menuDeroulantModo .menuactifModo a:link
{
	color:#ffffff;
	background-color: #006bd6;
	/*Bordure */
	border:1px solid #000000;
	/*ombre*/
	box-shadow: 3px 3px 7px #000000 inset,
				0px 0px 8px #000000;
}
/*fin du menu deroulant Modo*/

/*gestion du menu deroulant ADMIN*/
#menuDeroulantAdmin
{
 	/*hauteur*/
	height:20px;
	/*largeur*/
	width: 400px; 
	list-style-type: none;
	margin: auto;
	padding: 0;
	/*centrage image*/
	text-align: center;
	
}
#menuDeroulantAdmin li
{
	float: left;
	margin: auto;
	padding: 0;
	border: 0; 
	width:200px;
}
#menuDeroulantAdmin .sousMenuAdmin
{
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
 	/*centrage image*/
	text-align: center;
}
#menuDeroulantAdmin .sousMenuAdmin li
{
	float: none;
	margin: 0;
	padding: 0;
	border: 0;
	width: 200px;
}
#menuDeroulantAdmin li a:link, #menuDeroulantAdmin li a:visited
{
	/*mise en place des menu a derouler*/
	display: block;
	margin: 0;
	padding: 2px;
	text-decoration: none;
	/*Police*/
	font-family: "Comic Sans MS","Times New Roman",serif;
	/*mise en gras*/
	font-weight:bold;
	/*hauteur*/
	height:20px;
	/*Fond couleur rouge claire*/
	background-color: #ff7f7f;
	/*  arrondi  */
	border-radius: 10px 10px 0 0;
	/*Bordure */
	border:2px solid #e60000;
	/*taille police*/
	font-size:80%;
	color:#000000 ;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000;	
}
#menuDeroulantAdmin li a:hover 
{
	background-color: #e60000;
	color:#000000;	
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000 inset,
				0px 0px 8px #000000;
}
#menuDeroulantAdmin li a:active 
{
	background-color: #ff7f7f; 
}
#menuDeroulantAdmin li:hover > .sousMenuAdmin { display: block; }	

#menuDeroulantAdmin .sousMenuAdmin li a:link,
#menuDeroulantAdmin .sousMenuAdmin li a:visited
{
	display: block;
	height:auto;
	margin: 0;
	padding: 5px;
	text-decoration: none;
	font-weight:normal;
	/*Police*/
	font-family: "Comic Sans MS","Times New Roman",serif;
	/*Fond couleur*/
	background-color: #ff7f7f;
	/*  arrondi  */
	border-radius: 0 0 5px 5px;
	/*Bordure */
	border:2px solid #e60000;
	/*taille police*/
	font-size:80%;
	color:#000000 ;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000;	
}
#menuDeroulantAdmin .sousMenuAdmin li a:hover
{
	color:#000000;
	/*ombre*/
	 box-shadow: -2px -2px 8px #000000 inset,
				0px 0px 8px #000000;
	/*  arrondi  */ 
	border-radius: 5px;
	background-color: #e60000;
}
/*pour dire "tu met ca au dessus" */	
#menuDeroulantAdmin li ul 
{
 position:absolute;
}		
/* modif quand il est actif (avec li = sousmenu)*/
#menuDeroulantAdmin li .menuactifAdmin a:visited,
#menuDeroulantAdmin li .menuactifAdmin a:link,
#menuDeroulantAdmin .menuactifAdmin a:link,
#menuDeroulantAdmin .menuactifAdmin a:link
{
	color:#ffffff;
	background-color: #e60000;
	/*Bordure */
	border:1px solid #000000;
	/*ombre*/
	box-shadow: 3px 3px 7px #000000 inset,
				0px 0px 8px #000000;
}
/*fin du menu deroulant ADMIN*/






